.{
    margin: 0;
    padding: 0;

}


.style
    @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bebas+Neue&family=Bruno+Ace&family=Bruno+Ace+SC&family=Cinzel&family=Cinzel+Decorative&family=Foldit:wght@200&family=Inconsolata:wght@300&family=Lobster&family=Montserrat:wght@100;600&family=Nunito+Sans&family=Raleway:wght@100;300&family=Tangerine&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bebas+Neue&family=Bruno+Ace&family=Bruno+Ace+SC&family=Cinzel&family=Cinzel+Decorative&family=Foldit:wght@200&family=Inconsolata:wght@300&family=Lobster&family=Montserrat:wght@100;600&family=Nunito+Sans&family=Raleway:wght@100&family=Tangerine&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bebas+Neue&family=Bruno+Ace&family=Bruno+Ace+SC&family=Cinzel&family=Cinzel+Decorative&family=Foldit:wght@200&family=Inconsolata:wght@300&family=Lobster&family=Montserrat:wght@100;600&family=Nunito+Sans&family=Tangerine&display=swap');
  *{
    font-family: 'Lobster', cursive;
    
    
   }
   section{

    background-color: rgb(241, 218, 183);
    color:rgb(0, 0, 0);
    width: 70%;
    height: 54%;
    opacity: 0.9;
   }
   body{
    background-image: url(https://i.pinimg.com/564x/9c/dd/ff/9cddff511219f07fa34a29520b945223.jpg);
    background-repeat: no-repeat;
    background-size: 50%;

   }

   p{
    font-family: 'Raleway', sans-serif;
   }
 


.box-container{
    width: 70%;
    height: 54%;
}
.cajas {
  width: 420px;
  height: 200px;
   position: relative;
  z-index: 2;
  padding-left: 55%;
  padding-top: 15%;
}

.caja-inferior {
  width: 120px;
  height: 70px;
  
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 10%;
}
.caja{
    background-color: rgb(252, 248, 243);
    color:rgb(0, 0, 0);
    width: 50%;
    height: 104%;
    opacity: 0.9;
    padding-top: 5%;
   

}
footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 35%;
    color:rgb(0, 0, 0);
    border: 1px solid rgb(81, 81, 82);
}

head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: top 20px;
        padding-left: 5%; 
        padding-right: 5%;
        font-weight: bold;
    
            background-color: rgb(255, 255, 255);
            width: 100%;
            height: 35%;
            color:rgb(0, 0, 0);
            border: 1px solid rgb(81, 81, 82);
        
}
h1{
    color: white;
    font-size: 20px;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}
